<div class='jumbotron'>
<h1 class='display-4'>My Requests</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>ID</th>
			<th>Amount</th>
			<th>Status</th>
			<th>Reason</th>
			<th>Date Submitted</th>
			<th>Date Resolved</th>
			<th>Resolver</th>
			<th>Image</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="req in Requests">
			<td>{{req.id}}</td>
			<td>{{req.amount | currency}}</td>
			<td>{{req.status}}</td>
			<td>{{req.reason}}</td>
			<td>{{req.dateSub}}</td>
			<td>{{req.dateRes}}</td>
			<td>{{req.resName}}</td>
			<td>
				<img ng-src="MainServlet/getImage?id={{req.id}}" ng-if="req.hasImage" class="img-thumbnail" ng-click="closeUp(req.id)">
				
			</td>
		</tr>
	</tbody>
</table>
<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">
					  <img id="modalImage">
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
</div>
<a class="btn btn-primary btn-lg" href="#!/submitRequest" role="button">Submit Request</a>