<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
</div>
<p>Looks like this page is unfinished.  Stay tuned as we continously update our website</p>
<button (click)="testServlet()">Test Servlet</button>
<button (click)="testTable()">Test Tables</button>
<p> This was received from the Java Servlet: {{servResult}}</p>

<table *ngIf="showTable">
  <thead>
    <tr>
      <th>Test Name</th>
      <th>Result</th>
    </tr>
  </thead>
    <tbody >
      <tr *ngFor="let item of tRows">
        <td>{{item.testName}}</td>
        <td>{{item.testResult}}</td>
      </tr>
    </tbody>
  
</table>