<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 <mat-toolbar color="primary" style="justify-content: center">
   <mat-toolbar-row>
     <span style="text-align: center;margin: 0 auto"> Welcome to Caliber Test Suite!</span>
   </mat-toolbar-row>
 </mat-toolbar>
   
  
  
</div>


<mat-card><mat-card-content>
   
   
    <button mat-raised-button  (click)="testHome()">Test Homepage</button>
    <button mat-raised-button color="warn" (click)="testColor()">Test Color Faces</button>
    <button mat-raised-button color="primary" (click)="testAudit()">Test Audit Page</button>
    <button mat-raised-button color="accent" (click)="testLCuke()">Test Login Cucumber</button>
    <button mat-raised-button (click)="testAuditYears()">Assesment Batch Years Test</button>
    <button mat-raised-button color="warn" (click)="testTrain()">Test Setting Trainers</button>
    <br />
    <br />
    <mat-progress-spinner  mode="indeterminate" *ngIf="loading"></mat-progress-spinner>
    <table mat-table *ngIf="showTable" [dataSource]="tRows" width="50%">
        <ng-container matColumnDef="tname">
            <th mat-header-cell *matHeaderCellDef>Test Name</th>
            <td mat-cell *matCellDef="let item">{{item.testName}}</td>
          </ng-container>
          <ng-container matColumnDef="tres">
              <th mat-header-cell *matHeaderCellDef>Result</th>
              <td mat-cell *matCellDef="let item">{{item.testResult}}</td>
            </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
  </mat-card-content></mat-card>


