@charset "ISO-8859-1";
.jumbotron {width:100%;}

.img-thumbnail {
	max-width: 150px;
	max-height: 150px;
}

#modalImage {
	min-width: 150px;
	min-height: 150px;
	max-width: 500px;
	max-height: 500px;
}
.btn-lg {
	margin:auto;
}